{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^@/lib/(.*)$",
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ]
}
